@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  .content {
    @include margin-auto();
  }

  .footer {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .comments {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .topping {
    @include margin(0, 0.5);
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: #{$typographic-leading + "px"} auto 0;
    max-width: $layout-post-width;
    text-align: center;

    .buttonArticles {
      @include margin(0, 0.5, 0, 0);
    }
  }
}

@include breakpoint-md {
  .post {
    .footer {
      @include padding-equal(0);
    }

    .comments {
      @include padding-equal(0);
    }
  }
}

@include breakpoint-lg {
  .post {
    .buttons {
      left: 30px;
      position: fixed;
      top: 30px;
      @include margin(0, 0.5, 0, 0);
    }
  }
}
